{% extends "layout.html" %}

{% block body %}
    <h3>Hakkımızda</h3>
    <hr>

    <p>Merhabalar, 

    Firmanızın "Data Analyst" pozisyonu için başvuru yapmış bulunmaktayım.
    Gerek okul dönemimde gerekse daha sonrasında iki yıldır Data Science alanında çeşitli projeler geliştirdim 
    ve hala aktif olarak bazı projelerimi devam ettiriyorum. 
    CV'mde bu alanda yaptığım projeler ile ilgili bilgileri bulabilirsiniz. 
    Profesyonel iş hayatıma çok sevdiğim Data Science alanında başlamak benim için çok büyük bir motivasyon kaynağı 
    olacaktır, aktif iş arama sürecimi de bu doğrultuda yönetmekteyim. 
    "Data Analyst" pozisyonunuzda şirketinize artı bir değer katacağıma inanmaktayım, 
    bu vesile ile sizlerde uygun görürseniz bu pozisyon için firmanız ile görüşmek isterim.

    </p>

    <hr>
{% endblock body %}